libraries
*.mkv
*.svg
lib
nes
*.pdf
secrets_DO_NOT_PUSH.py
*.bmp
*.nes
*.jpg
*.mpy
*.ogg
Trellis/Python_Demo/README.txt
Trellis/Python_Demo/lib
*.uf2
*.UF2
USK_Guide_Code
libraries/*.zip
*.png
*.wav
*.mp3
*.wav
*.zip
Trellis/build*
RaspberryPi/OS
